<mat-drawer-container class="local-container" [hasBackdrop]="true">
  <mat-drawer #drawer mode="over" position="end">
    <div style="display: flex">
      <button class="switch" (click)="toggleList()">
        @if (drawerMode === 'driver') {
          切換任務列表編輯
        } @else {
          切換司機列表編輯
        }
      </button>

      <button class="x" (click)="drawer.close()">✕</button>
    </div>

    @if (drawerMode === 'task') {
      <div class="drawer-inner">
        <h3>新增任務</h3>
        <input type="text" min="3" [(ngModel)]="newTask.title" placeholder="任務名稱" required />
        @if (!newTask.title) {
          <p style="color: red">請輸入任務名稱</p>
        }
        <input type="text" min="10" [(ngModel)]="newTask.description" placeholder="描述" required />
        @if (!newTask.description) {
          <p style="color: red">請輸入描述欄位</p>
        }
        <label for="prioritySelect">緊急程度：</label>
        <select [(ngModel)]="newTask.priority" id="prioritySelect" name="priority" required>
          <option value="" disabled selected>請選擇任務緊急程度</option>
          <option value="High">High</option>
          <option value="Medium">Medium</option>
          <option value="Low">Low</option>
        </select>
        @if (!newTask.priority) {
          <p style="color: red">請選擇任務緊急程度</p>
        }

        <button (click)="addTask()">送出</button>
      </div>
    }

    @if (drawerMode === 'driver') {
      <div class="drawer-inner">
        <h3>新增司機</h3>
        <input type="text" min="3" [(ngModel)]="newDriver.name" placeholder="司機名稱" />
        @if (!newDriver.name) {
          <p style="color: red">請輸入司機名稱</p>
        }
        <button (click)="addDriver()">送出</button>
      </div>
    }

    @if (drawerMode === 'task') {
      <div class="drawer-inner">
        <h3>刪除任務</h3>
        <input type="text" min="3" [(ngModel)]="taskNameToDelete" placeholder="任務名稱" />
        <button (click)="removeTask(taskNameToDelete)">送出</button>
      </div>
    }

    @if (drawerMode === 'driver') {
      <div class="drawer-inner">
        <h3>刪除司機</h3>
        <input type="text" min="3" [(ngModel)]="driverNameToDelete" placeholder="司機名稱" />
        <button (click)="removeDriver(driverNameToDelete)">送出</button>
      </div>
    }
  </mat-drawer>

  <mat-drawer-content>
    <button class="button-open" mat-raised-button color="primary" (click)="drawer.open()">
      編輯
    </button>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
